<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text">Smart-Cart - A Smart &amp; Efficient SuperMarket Management System</p>
    </div>
</div>